[submodule ".registry"]
	path = .registry
	url = https://github.com/agroscope-ch/agroscope-ch.r-universe.dev
	branch = HEAD
[submodule "openfoodtox"]
	path = openfoodtox
	url = https://github.com/agroscope-ch/openfoodtox
[submodule "sqlparser"]
	path = sqlparser
	url = https://github.com/agroscope-ch/sqlparser
[submodule "triact"]
	path = triact
	url = https://github.com/agroscope-ch/triact
