[submodule ".registry"]
	path = .registry
	url = https://github.com/agroscope-ch/agroscope-ch.r-universe.dev
	branch = HEAD
[submodule "OpenFoodTox"]
	path = OpenFoodTox
	url = https://github.com/agroscope-ch/openfoodtox
[submodule "sqlparseR"]
	path = sqlparseR
	url = https://github.com/agroscope-ch/sqlparser
[submodule "srppp"]
	path = srppp
	url = https://github.com/agroscope-ch/srppp
[submodule "triact"]
	path = triact
	url = https://github.com/agroscope-ch/triact
